body,
html {
  min-height: 100%;
}
/*Main background*/
body {
  margin: 0;
  background: url(../../images/home-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  margin: 0 auto;
}
/*Header of the page with the logo*/
header {
  background: rgb(236, 236, 236);
  opacity: 0.8;
}

.logo {
  float: center;
  padding: 10px;
  margin-left: 50px;
}
/*Navigation bar Styling*/
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 30px;
  padding-top: 33px;
  position: relative;
}

nav a {
  color: rgb(79, 79, 79);
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica;
}
/*Black bar on top of words when user hovers*/
nav a:hover {
  color: black;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: black;
  top: 0;
  position: absolute;
  width: 0%;
}

nav a:hover::before {
  width: 100%;
}
header::after {
  content: '';
  display: table;
  clear: both;
}

/*Content for Home Page*/
.content {
  text-align: center;
  margin-top: 200px;
  font-family: 'Archivo Narrow';
  text-transform: uppercase;
  font-size: 30px;
  color: rgb(79, 79, 79);
}
/*Content for About Page*/
.about {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 50px;
  padding-left: 50px;
  font-family: 'Archivo Narrow';
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(79, 79, 79);
  background-color: rgb(229, 229, 229);
  opacity: 0.95;
  width: 90%;
  height: auto;
}
/*Content for Portfolio Page*/
.portfolio {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.gallery {
  margin: 5px;
  flex-basis: calc(50vw - 20px);
}
.gallery img {
  width: 100%;
  height: 100%;
  opacity: 0.85;
  object-fit: contain;
}
.gallery img:hover {
  opacity: 1;
  transform: scale(1.01);
  transition: all 0.25s ease-in-out;
}
